h1, h2, h3, h4, h5, h6 {
	font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    text-transform: uppercase;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
    background: #000;
    color: #fff;
}