.carousel-fade{
    .carousel-caption {
        background: rgba(0,0,0,0.5);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        .inside-carousel {
            width: 800px;
            position: absolute;
            padding: 20px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            h3 {
                font-size: 80px;
            }
            p {
                font-size: 25px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    
    .carousel-fade{
        .carousel-caption {
            margin-top: 20px;
            .inside-carousel {
                width: 600px;
                h3 {
                    font-size: 60px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .carousel-fade{
        .carousel-caption {
            margin-top: 20px;
            height: 200px;
            .inside-carousel {
                width: 600px;
                h3 {
                    font-size: 50px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    
    .carousel-fade{
        .carousel-caption {
            margin-top: 20px;
            height: 150px;
            .inside-carousel {
                width: 500px;
                h3 {
                    font-size: 40px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    
    .carousel-fade{
        .carousel-caption {
            margin-top: 5px;
            height: 120px;
            .inside-carousel {
                width: 400px;
                h3 {
                    font-size: 30px;
                    padding: 0;
                    margin: 0;
                }
                p {
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}